/Tema_3/Ej5/nbproject/private/
/Tema_3/Ej5/build/
/Tema_3/EjUnit4_1/nbproject/private/
/Tema 4/EjIUnit4_2/nbproject/private/
/Tema 4/EjIUnit4_2/build/
/Tema 4/EjUnit4_3/nbproject/private/
/Tema 4/EjUnit4_3/build/
/Tema 4/EjUnit4_4/nbproject/private/
/Tema 4/EjUnit4_4/build/
/Tema 4/EjUnit4_5/nbproject/private/
/Tema 4/EjUnit4_5/build/
/Tema 4/EjUnit4_6/nbproject/private/
/Tema 4/EjUnit4_6/build/
/Tema 4/EjUnit4_7/nbproject/private/
/Tema 4/EjUnit4_7/build/
/Tema 4/EjUnit4_8/nbproject/private/
/Tema 4/EjUnit4_8/build/
